.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 12px;
  margin-bottom: 12px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

.display {
  background-color: #fff;
  height: 100px;
  border: 1px solid #9bacbd59;
  text-align: right;
  overflow: auto;
}

.display-content {
  font-size: 50px;
  vertical-align: middle;
  line-height: 94px;
  margin: 12px;
}

.input-section {
  background-color: #fff;
}

.calculator {
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

.white-btn {
  background-color: #fdfdfd;
}

.grey-btn {
  background-color: #f5f5f5;
}

.blue-btn {
  background-color: #3c4c5c;
  color: #fff;
}

.orange-btn {
  background-color: orange;
}

button {
  width: 25%;
  min-height: 90px;
  padding: 24px;
  font-size: 36px;
  border: 1px solid #9bacbd59;
  font-family: lato, sans-serif;
}

button:focus {
  outline:0;
}

button:hover {
  background-color:rgba(40, 40, 40, 0.95);
  color: #fff;
  cursor: pointer;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
